/* Add your CSS styles here */

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: -webkit-sticky;
    position: sticky; /*transparent background & dibesar-kecilin ttp posisinya*/
    top: 0;
    background: darkgray;
    width: 100%;
    min-height: 75px;
    padding: 0 50px;
    display: flex; /*satu header jadi sejajar & kecil gedein nyesuain ukuran container parents*/
    justify-content: space-between; /*jarak antar item dalam header jadi sama*/
    align-items: center;
    z-index: 1;
}

/*gambar latar*/
header span {
    color: #ddd;
}

header .logo{
    width: 100;
}

header .logo img{
    display: flex;
    position: relative;
    width: 65px;
    height: 60px;
}

header .menu-icon{
    display: none;
    font-size: 25px;
}
header .fa.fa.fa-bars{
    cursor: pointer;
}
header .fa.fa-close{
    display: none;
    font-size: 27px;
    cursor: pointer;
}

header nav{
    position: relative;
    left: 0;
}

header ul li {
    position: relative;
    display: flex;
    float: left;
    list-style: none;   
}

header ul li a{
    text-decoration: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: black;
    font-weight: lighter;
    font-size: 20px;
}

header ul li a:hover{
    text-decoration: underline;
    color: rgb(249, 246, 246);
}

@media (max-width:900px){
    header nav{
        position: absolute;
        top: 75px;
        width: 100%;
        right: 0;
        background-color: rgb(226, 223, 223);
        display: none;
    }
    header.active nav{
        display: initial;
    }
    header nav ul{
        padding: 0;
    }
    header nav ul li{
        width: 100%;
        position: relative;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    header .menu-icon{
        display: initial;
    }
    header.active .fa.fa-bars{
        display: none;
    }
    header.active .fa.fa-close{
        display: initial;
    }
    .list-produk {
        grid-template-columns: auto;
    }
}

#konten {
    padding: 15px 25px;
}

#konten-teks{
    padding: 0 15px 0 0;
}

#konten-gambar{
    padding: 0 15px 0 0;
}

#konten #konten-gambar img{
    width: 550px;
    height: 500px;
}

.text-muted {
    font-size: 25px;
}

.produk-home{
    /* margin-bottom: 50px; */
    padding-bottom: 100px;
}

#jumbotron {
    min-height: 900px;
    max-width: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../assets/img/header_1.jpg');
    background-position: center;
    color: aliceblue;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.insideJumbotron{
    width: 75%;
    min-width: 300px;
    margin: auto;
    text-align: left;
}

.insideJumbotron .jumbotron-p{
    width: 100%;
    margin: 0;
}

nav .breadcrumb{
    position: relative;
    top: 10px;
    left: 50px;
}

li.breadcrumb-item{
    color: white;
}

li.breadcrumb-item#detail{
    color: gray;
}

nav .breadcrumb{
    --bs-breadcrumb-divider-color: rgb(241, 186, 46);
}

.breadcrumb-item.active{
    color: yellow;
}  

.breadcrumb-item#detail.active{
    color: rgb(220, 191, 191);
}  

#layanan-kami #servis{
    display: flex !important;
    justify-content: space-around !important;
    width: 100% !important;
}

#layanan-kami a:hover{
    color: rgb(188, 189, 184) !important;
    text-decoration: none !important;
    transform: scale(1.2);
}

#partners{
    display: block;
    /* margin: auto; */
    padding: 50px 0 50px 0 !important;
}

#our-partner{
    width: 100%;
    padding: 0 0 0 0 !important;
    margin-bottom: 35px;
}

.logo-partners{
    overflow: scroll;
}

.logo-slide{
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.logo-slide img{
    margin: 0 25px;
}

#tentang-kami{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    /* padding: 200px; */
    margin: 100px;
}

#tentang-kami p{
    font-size: 16pt;
}

#tentang-kami h2{
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.row{
    justify-content: space-evenly;
    margin-top: 50px;
}

.row h3{
    margin-top: 50px;
    padding-top: 50px;
    text-align: center;
}

#card-4 {
    display: none;
}

header h1 {
    color: #ddd;
    position: absolute;
    top: 25%;
    /* text-align: center; */
}

.card {
    /* margin-top: 10px; */
    box-shadow: 0 2px 4px 0 rgba(198, 195, 195, 0.978);
    transition: 0.3s;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    padding: 200px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

table {
    font-family: arial, sans-serif;
    /* border-collapse: collapse; */
    width: 100%;
}

td,
th {
    /* border: 10px solid #dddddd; */
    text-align: center;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.footer{
    margin-top: 20px;
    margin-bottom: 20px;
}

.p-2{
    position: relative;
    bottom: 10px;
}

#footer-wa,
#footer-mail,
#footer-tengah {
    margin: auto;
}

#foto-kanan {
    margin-right: 0px;
    width: 500px;
}

@media screen and (max-width: 990px) {
    .list-produk{
      display: flex;
      flex-wrap: wrap;
      margin: 0 40px;
      /* width: 100%; */
    }
    .list-produk .item{
        width: 100%;
    }
  }

.produk-container{
    display: flex;
    flex-direction: column;
    max-width: 75%;
    margin: auto;
    text-align: center;
    align-items: center;
}

.produk-container h1{
    width: 100%;
    padding: 10px 0 25px 0;
}

.list-produk{
    display: flex;
    gap: 50px 20px;
    padding: 0 0 50px 0;
}

.list-produk .item{
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
    width: 492px;
    height: 400px;
    /* max-width: 472px;
    max-height: 432px; */
    margin: auto;
}

.list-produk .item:hover{
    background-color: rgb(163, 160, 160);
}
.list-produk img{
    width: 80%;
    filter: drop-shadow(0 50px 20px #0009)
}
.list-produk img#hidrolik{
    width: 55%;
}
.list-produk img#casting{
    width: 90%;
}
.list-produk img#dusting{
    width: 75%;
}

.list-produk .deskripsi-produk{
    word-wrap: break-word;
}

.item a{
    text-decoration: none;
    color: unset;
}

.item a:hover{
    color: whitesmoke;
}

.detail .deskripsi-produk{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 30px 30px;
    justify-content: center;
}

.detail .deskripsi-produk .deskripsi{
    h2{
        text-align: center;
    }
    padding: 0 30px;
    text-align: justify;
    width: 70%;
}

.detail .deskripsi-produk .deskripsi i{
    width: 100%;
}

.detail img{
    width: 300px;
    height: 300px;
}

.detail .deskripsi-produk img:hover{
    transform: scale(1.2) rotate(20deg);
}

.produk-lain{
    margin: auto;
    text-align: center;
}

.list-produk-detail {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 30px;
    justify-content: center;
    gap: 35px 20px;
}

.list-produk-detail .item{
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
    width: 30%;
    min-width: 400px;
}

.list-produk-detail .item:hover{
    background-color: rgb(163, 160, 160);
}

.list-produk-detail .item img{
    width: 80%;
}

.list-produk-detail .item p{
    word-wrap: break-word;
}

.deskripsi-produk .deskripsi i{
    margin: auto;
    text-align: left;
}

.deskripsi-produk .deskripsi i span{
    padding: 0 5px;
    font-weight: lighter;
}

.deskripsi-produk .deskripsi i:hover span{
   color: rgba(202, 200, 200, 0.745);
   text-decoration: underline;
   cursor: pointer;
}

.spek-detail, .spek-detailParker, .spek-detailP562260, .spek-detailP566212, .spek-detailP566983,
.spek-detail3H21, .spek-detail3K21, .spek-detaillocknut, .spek-detaillockwasher, .spek-detailcapscrew{
    display: none;
}

.spek-detail.active, .spek-detailParker.active, .spek-detailP562260.active, 
.spek-detailP566212.active, .spek-detailP566983.active,
.spek-detail3H21.active, .spek-detail3K21.active, .spek-detaillocknut.active, .spek-detaillockwasher.active, .spek-detailcapscrew.active{
    display: flex;
    overflow-x: auto;
    align-items: center;
    width: 100%;
    span{
        padding: 0 10px;
        font-style: italic;
        font-size: 23px;
        font-weight: lighter;
    }
    table td{
        background-color: white;
    }
}

